:root {
  --accent-color: #eceaea;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4;
  overflow: hidden;
}

.mainApp {
  width: 350px;
  height: 700px;
  margin: auto;
  background-color: #fafafa;
  border-radius: 40px;

  -webkit-box-shadow: 7px 5px 8px -4px rgba(0, 0, 0, 0.81);
  box-shadow: 7px 5px 8px -4px rgba(0, 0, 0, 0.81);
}

header {
  height: 120px;
  margin: 10px 20px;
  border-bottom: 0.5px solid black;
  padding: 30px 5px 0px 5px;
}

footer {
  height: 100px;
  margin: auto;
}

.banner {
  margin: 5px;
}

.inputBox {
  margin: 20px 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* 구성요소 띄우기 */
  border-radius: 8px;
  background-color: var(--accent-color);
  z-index: 2;
}
.input__text {
  width: 100%;
  border: none;
  background-color: var(--accent-color);
}

/* LIST */
ul {
  height: 450px;
  padding: 0;
  z-index: 1;
  overflow: scroll;
}

li {
  list-style: none;
  margin: 15px 30px;
  border-bottom: 1px dotted darkgray;
}

.item {
  display: flex;
  justify-content: space-between; /* 구성요소 띄우기 */
  padding: 10px;
}

.item_text {
  display: inline-block;
}
.item_text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.checked {
  text-decoration: line-through;
  color: darkgray;
  font-style: italic;
}

button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
}

.delete {
  opacity: 50%;
  color: red;
}
.delete:hover {
  opacity: 100%;
  transition: all 200ms ease-in;
}

/* .add {
  opacity: 50%;
} */
